.hero {
    height: 505px;
    background-image: url(../../../assets/images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  
   @include min-query($d-tablet){
       height: 727px;
   }
    @include min-query($d-laptop) {
        height: 505px;
        background-image: url(../../../assets/images/desktop/image-header.jpg);
  
        
    }
    @include min-query($d-laptop-l){
        height: 580px;
    }
}
.creative {
    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding: 4.5rem 0 1rem 0;
        display: block;
        width: 100%;
        font-size: 40px;
        color: white;
        letter-spacing: 0.5rem;
        font-family: $ff-fraunces;
        font-weight: bolder;
        @include min-query($d-tablet){
        // padding: 4.5rem 0 1rem 0;
        }
        @include min-query($d-laptop){
            padding: 3.5rem 0 1rem 0;

        }

         @include min-query($d-laptop-l){
            padding: .4rem 0 1rem 0;

        }
        

    }

    &__arrow {
        width: 45px;
        margin: 0 auto;
        @include min-query($d-tablet){
        width: 44px;
        padding-top: 2.5rem;
        }
        @include min-query($d-laptop){
        padding-top: 1.7rem;
        width: 23px;
        }
        @include min-query($d-laptop-l){
                padding-top: rem;

    }
    }
}
.transform {
width: 100;
display: flex;

flex-direction: column;
    @include min-query($d-laptop){
    width: 100%;
    height:599px;
    display: flex;
    flex-direction: row-reverse;
    background-color: none;
    }
&__image{
    background-image: url(../../../assets/images/mobile/image-transform.jpg);
    background-repeat:no-repeat ;
        height: 100%;
        background-position:center;
        object-fit: contain;
        width: 100%;
        height: 599px;
  @include min-query($d-laptop) {
        background-image: url(../../../assets/images/desktop/image-transform.jpg);
        background-repeat:no-repeat ;
        height: 100%;
        max-width: 50%;
        background-position:center;
        object-fit: contain;
        width: 100%;
        height: 599px;
    }
}
}
.transform-card {
    width: 100%;
    height: 500px;
     display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    @include min-query($d-laptop) {
        width: 100%;
        height: 599px;
        
    }

    &__title {
        font-family: $ff-fraunces;
        font-weight: $fw-bold;
        font-size: 35px;
        width: 318px;
        margin: 0 auto;
        text-align: center;
        padding: 2rem;
        @include min-query($d-laptop) {
            text-align: start;
          
        }
        @include min-query($d-laptop-l){
             text-align: start;
            padding: 0;
            margin: 1rem 0 1rem 9rem;
        }
    }
    &__bodycopy {
        font-family: $ff-barlow;
        margin: 0 auto;
        color: $c-grayish-blue;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.4rem;
        margin: 0 auto;
        width: 331.6px;
        text-align: center;
        @include min-query($d-laptop) {
            font-size: 15px;
            text-align: start;
            width: 376.6px;
            margin: 1rem 0 1rem 5rem;

        }
            @include min-query($d-laptop-l){
             text-align: start;
            padding: 0;
            margin: 1rem 0 1rem 9rem;
            }
    }
    &__bodycopy--learn {
        position: relative;
        font-family: $ff-fraunces;
        font-weight: bolder;
        padding: 0;
        margin: 0;
        width: 116px;
        font-size: 15px;
        // margin:  .5rem 3.57rem;
        margin: 0 auto;
        padding: 1rem 0 0 0;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        color: $c-dark-desaturated-blue;
        text-align: center;
        @include min-query($d-laptop-l){
                margin: 3.5rem 10.57rem;

        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 0.5rem solid $c-banana-mania;
            border-radius: 5px;
            z-index: -1;
            opacity: 0.9;
        }
    }
}

.collab {
    @include min-query($d-laptop) {
        display: flex;
    }
}
.collab-container {
    display: flex;
    height:400px;
    flex-direction: column;
            background-image: url(../../../assets/images/mobile/image-stand-out.jpg);
 background-repeat:no-repeat ;
        height: 100%;
        background-position:center;
        object-fit: contain;
        display: flex;
        width: 100%;
        height: 599px;
    @include min-query($d-laptop) {
        background-image: url(../../../assets/images/desktop/image-stand-out.jpg);
        background-repeat:no-repeat ;
        height: 100%;
        max-width: 50%;
        background-position:center;
        object-fit: contain;
        display: flex;
        width: 100%;
        height: 599px;
    }
}
// .collab-image {
//     width: 100%;
//     height: 100%;
//     max-height: 300px;

// @include min-query($d-tablet){
//     width: 100%;
//     height: 100%;
//     max-height:403px;
// }
//     @include min-query($d-laptop) {
//         display: flex;
//         width: 50%;
//         height: 100%;
//     }
// }

.collab-card {
    width: 100%;
    height: 403px;
   
    @include min-query($d-laptop){
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;


    }
    &__title {
        font-family: $ff-fraunces;
        font-weight: $fw-black;
        font-size: 32px;
        width: 265px;
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
        @include min-query($d-laptop){
              width: 361px;
              text-align: start;

        }
    }
    &__bodycopy {
        font-family: $ff-barlow;
        color: $c-grayish-blue;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.4rem;
        text-align: center;
        width: 297px;
        margin: 0 auto;
        // margin-bottom: 1rem;
        @include min-query($d-laptop){
        

        }
        @include min-query($d-laptop-l){
        margin: 0 0 0 11.5rem ;

        }
    }
    &__bodycopy--learn {
        width: 100%;
        position: relative;
        font-family: $ff-fraunces;
        color: black;
        font-weight: bolder;
        width: 116px;
        font-size: 15px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        &::before {
            content: "";
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 0.5rem solid $c-soft-red-bar;
            border-radius: 5px;
            z-index: -1;
            opacity: 1;
        }
    }
}
.design-photography {
    @include min-query($d-laptop) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.design {
    &__image {
        height: 600px;
        max-height: 100%;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url(../../../assets/images/mobile/image-graphic-design.jpg);
        object-fit: fill;
        @include min-query($d-tablet){
            
        max-height: 600px;
        }
    

        @include min-query($d-laptop) {
                    background-image: url(../../../assets/images/desktop/image-graphic-design.jpg);

            height: 100%;
            box-sizing: border-box;
            justify-content: center;
            object-fit: cover;
        }
    }
}

.design-card {
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 18rem;

    &__title {
        font-family: $ff-fraunces;
        font-weight: 800;
        font-size: 23px;
        width: 190px;
        padding-top: 7rem;
        padding-bottom: 2.5rem;
        margin: 0 auto;
        text-align: center;
        // color: $graphic-design;
    }
    &__bodycopy {
        font-family: $ff-barlow;
        color: c-dark-grayish-blue;
        margin: 0 auto;
        font-weight: 600;
        font-size: 17px;
        line-height: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
        width: 324px;
        opacity: 0.6;
    }
}
.Photography {
}
.Photography-image {
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/images/desktop/image-photography.jpg);
    @include min-query($d-laptop) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.Photography-card {
    width: 100%;
    margin: 0 auto;
    padding-top: 19rem;
    &__title {
        font-family: $ff-fraunces;
        color: $c-dark-blue;
        font-weight: 900;
        font-size: 26px;
        width: 190px;
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin: 0 auto;
        text-align: center;
        opacity: 0.9;
    }
    &__bodycopy {
        font-family: $ff-barlow;
        color: $c-dark-blue;
        margin: 0 auto;
        font-weight: 600;
        font-size: 16px;
        padding: 1.5rem;
        line-height: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
        width: 332px;
        opacity: 0.8;
    }
}
.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: $c-soft-red-bar-1;
    @include min-query($d-laptop) {
        height: 560px;
        align-content: center;
    }
    &__title {
        font-family: $ff-fraunces;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 19px;
        width: 354px;
        letter-spacing: 0.2rem;
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        margin: 0 auto;
        text-align: center;
        color: $c-grayish-blue;
        @include min-query($d-laptop) {
            margin: 0 auto;
            font-size: 14px;
        }
    }
    &__card-main-container {
        @include min-query($d-laptop) {
            margin: 0 auto;
            display: flex;
        }
    }
    &__card-container {
        width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
    }
    &__image {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-image: url(../../../assets/images/image-emily.jpg);
    }
    &__image-2 {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-image: url(../../../assets/images/image-thomas.jpg);
    }
    &__image-3 {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-image: url(../../../assets/images/image-jennie.jpg);
    }
    &__bodycopy {
        font-family: $ff-barlow;
        color: rgb(107, 106, 106);
        margin: 0 auto;
        font-weight: 900;
        font-size: 17px;
        line-height: 1.4rem;
        text-align: center;
        width: 313px;
        padding: 2rem 0;
        opacity: 0.9;
        @include min-query($d-laptop) {
            margin: 0 auto;
            font-size: 13px;
            width: 257px;
            padding: 2rem 1rem;
        }
    }

    &__bodycopy--name {
        font-family: $ff-fraunces;
        color: black;
        font-weight: bolder;
        width: 135px;
        font-size: 18px;
        font-weight: 600;
        padding: 0;
        @include min-query($d-laptop) {
            margin: 0 auto;
            font-size: 12px;
        }
    }
    &__bodycopy--director {
        width: 144px;
        font-size: 14px;
        font-weight: $fw-bold;
        color: c-grayish-blue;
        padding-top: 0.51rem;
        opacity: 0.7;
        @include min-query($d-laptop) {
            margin: 0 auto;
            font-size: 12px;
            padding: 0;
        }
    }
}

.collection {
    width: 100%;
    height: 376px;
    margin: 0;
    @include min-query($d-tablet) {
        height: 768px;
    }
    @include min-query($d-laptop){
        height: 473px;

    }
}
.images {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(../../../assets/images/mobile/image-gallery-milkbottles.jpg),
                      url(../../../assets/images/mobile/image-gallery-orange.jpg),
                      url(../../../assets/images/mobile/image-gallery-cone.jpg),
                      url(../../../assets/images/mobile/image-gallery-sugar-cubes.jpg);


     background-repeat: no-repeat;
  background-position: left top, right top,left bottom,right bottom;
  background-size: 51%;
  object-fit: cover;
    @include min-query($d-tablet) {
        height: 768px;
        max-width: 767px;
       background-size:50% ;
        object-fit: fit;
   
    }
      @include min-query($d-laptop){
          margin: 0;
        background-image: url(../../../assets/images/desktop/image-gallery-milkbottles.jpg),
                          url(../../../assets/images/desktop/image-gallery-orange.jpg),
                          url(../../../assets/images/desktop/image-gallery-cone.jpg),
                          url(../../../assets/images/desktop/image-gallery-sugarcubes.jpg);

       background-repeat: no-repeat;
         background-position: 0 px 0 px, 200 px 0 px,400 px 0 px,600 px 0 px;
       background-size: 60px;
       object-fit: cover;
       height: 423px;
        max-width: 682px;
                      
    }
}
//footer-section//
.footer-container {
    width: 100%;
    height: 350px;
    background-color: #9df7e3;
    background-color: $c-monte-carlo;
    color: #3e8574;
}
.image-container {

}

.footer__logo {
    filter: invert(92%) sepia(50%) saturate(2237%) hue-rotate(88deg) brightness(228%) contrast(39%);
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 4rem 0 0;
}
.footer-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: $ff-barlow;
    font-weight: bolder;
    padding: 2rem 0;
    @include min-query($d-laptop) {
        width: 400px;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        color: Dark-blue;
        @include min-query($d-laptop) {
            padding: 0.8rem;
            padding: 3rem 0;
        }
    }
}
.icons {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 0;
    // @include min-query($d-laptop) {
    //     width: 230px;
    //     // margin: 0 auto;
    // }
    &__item {
        padding: 2rem 0.95rem  ;
    }
}
.icons:hover {
    // color: $c-White;
}
.attribution {
    width: 364px;
    justify-content: center;
    font-size: 11px;
    margin: 0 auto;
    display: block;
    padding-top: 2rem;
    
}
