/***********************
* DEVICES
************************/
$d-tablet: 768px;
$d-laptop: 1020px;
$d-laptop-l: 1440px;

/***********************
* COLUMN
************************/
$col-max-width: 400px;
$col-padding: 4rem 2rem;

/*******************
* SPACING
********************/
$m-base: 1rem;
$p-base: 1rem;
